body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(48, 47, 47);
    color:white;
  
}
html{
      height: 100%;
    width: 100%;
}
.name{

width: 70%;
letter-spacing: 5px;
position: absolute; 
top:7%; 
left:7%;
z-index: 10;
background: transparent;
}
.name>p{
 font-size: 3rem;
text-transform: uppercase;
font-family: 'Unica One', cursive;
}
.name>p>span{
    font-family: 'Unica One', cursive;
font-size: 1.7rem;

}
.left{ background: rgb(255, 218, 117);
    height: 100%;
    width: 50%;
    position: absolute; top: 0; left:0;
    z-index: 2;
}
.right{
    background:  rgb(255, 218, 117);
    height: 100%;
width: 50%;
position: absolute; top: 0; left:50%;
z-index: 3;

}
.right-out{
animation: rightOut 2s ease-in-out;

}
.left-out{
    animation: leftOut 2s ease-in-out;
}
@keyframes rightOut{
    0%{
        left:50%;
        opacity: 1;
    }
100%{
left:100%;
opacity:0;
}
}
@keyframes leftOut{
    0%{
        left:0;
        opacity: 1;
    }
100%{
left:-50%;
opacity:0;
}
}

.inner{
    position: absolute;
    top: calc(50% - 85px); left:calc(50% - 85px);
    height: 150px;
    width:150px;
    
    background: white;
    z-index: 5;
    transform: rotate(30deg);
    animation: logoMoveInner 3s infinite ease-in-out;
 
    
}
.inner>div{
    height: 70px;
    width:70px;
    background: rgb(255, 218, 117);
    margin: 25% auto;


}
.outer{
    position: absolute;
    top: calc(50% - 85px); left:calc(50% - 85px);
    height: 150px;
    width:150px;
border: 1px solid black;
z-index: 6;
transform: rotate(-30deg);
animation: logoMoveOuter 3s infinite ease-in-out;

}


@keyframes logoMoveInner{
   100%{
    transform:rotate(390deg);
    }

}
@keyframes logoMoveOuter{
    100%{
     transform:rotate(-390deg);
     }
 
 }


.inner-container{ 
     position: absolute;
     width: 100%;
     height: 95%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: 33% 33% 33% ;
    overflow: hidden;
}
.section-one{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.lines{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; position: relative;
    
}
.line1{
    position: absolute;
    width: 200%;
    top:50%;
    left:-50%;
    border-top:1px solid black;
    transform: rotate(50deg);
}
.line2{
    position: absolute;
    width: 200%;
    top:50%;
    left:-50%;
    border-top:1px solid black;
    transform: rotate(-50deg);
}
.section-two{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    
    align-self: center; position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;}
.section-three{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center; position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-four{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center; position: relative;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section-name{
    font-family: 'Unica One', cursive;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 2rem;

}


.btn{
    
    font-size: 2rem;
    margin:0 auto;
    cursor: pointer;
    
}
.btn:hover,.section-name:hover{
    transform: scale(1.1);
    color:rgb(165, 220, 252);
}



     .icon-up{
        animation: bounceUp 1s infinite ease-in-out;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
     }
     .icon-right{
        animation: bounceLeft 1s infinite ease-in-out;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
     }
     @keyframes bounceLeft{
       
        50%{
            transform: translateX(15px);
        }
       
    }
       @keyframes bounceUp{
   
           50%{
            transform: translateY(15px);
           }
         
       }

    
       .type-one,.type-two{
           display:none;
       }
       .type1{
           color: rgb(87, 238, 161);
           width:100%;
           font-size: 1.7rem;
           font-weight: 600;
           overflow: hidden;
           white-space: nowrap;
           letter-spacing: .10em;
           animation:typing 3.5s steps(60,end);
           animation-delay: 1.5s;
           -webkit-animation: typing 3.5s steps(60,end);
       }
       .type2{
           width:100%;
           color: rgb(165, 220, 252);
           font-size: 1.1rem;
           overflow: hidden;
           white-space: nowrap;
           letter-spacing: .10em;
           animation:
           opac .1s ease-in,
           typing 2.5s steps(60,end);
           -webkit-animation: 
           opac .1s ease-in,
           typing 2.5s steps(60,end);
           animation-delay: 1.1s;
           opacity: 0;
           animation-fill-mode: forwards;
       }
       @keyframes opac{
           from{opacity: 0;
           }
           to{opacity: 1;}
       }
       @keyframes typing{
           from{width: 0}
           to{width:100%;}
       }
       @-webkit-keyframes opac{
           from{opacity: 0;
           }
           to{opacity: 1;}
       }
       
       @-webkit-keyframes typing{
           from{width: 0}
           to{width:100%;}
       }

       .icon{
        margin:10px;
        font-size:1.2rem;
        color: rgb(165, 220, 252);
        animation: iconAnimate 2s infinite  ease-in-out;
      }
      @keyframes iconAnimate{

50%{
    
    transform: scale(1.5);
}



      }

     

         .scroll-icon {
            color: #c8c8c8;
            font-size: 15px;
            font-weight: bold;
            line-height: 38px;
            cursor: pointer;
        }
        .btn-scroll-top {
            z-index: 10;
            bottom: 85px;
            right: 40px;
            position: fixed;
            width: 40px;
            height: 40px;
            text-align: center;
            text-decoration: none;
            border: 1px solid #d2d2d2;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: rgba(0, 0, 0, 0.02);
            border-radius: 50%;
        }

        
        .opacity{
            opacity:1;
            animation: fadeIn 2s ease-in;
        }

        @keyframes fadeIn{
            0%{
                opacity:0;
            }
            100%{
                opacity:1;
            }
        }
        
        section{
position: absolute;
height: 100%;
width:100%; 



        }
        
        .section-inner{
           
          width:75%;
            margin:7% auto 10% auto;
            position: relative;
        }

       
        .section-title{
          font-size:1.7rem;
          text-align: center;
          margin: 2rem;
        }

 


.section-text{
    font-size: 1.1rem;
   
    padding:.7em;
}
.interests{
    margin:2rem;
}
.section-icon{
    height: 20px;
    width: 20px;
    font-size:2rem;
    cursor: pointer;
}
.section-about-icon{
 position: absolute;
 top:110%;
 left:48%;
}
.banner-text{
    margin-bottom:3rem;
}
.skills-list{
    margin:3em auto;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
    width: 100%;
    height: 12px;

  }

  progress[value]::-webkit-progress-bar {
    background-color: rgb(194, 193, 193);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    
  }

  progress[value]::-webkit-progress-value {
    background-color:rgb(87, 238, 161);
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  .skills-item{
margin:.7em;
  }
  .pro{
   width: 100%;
   height: 100%;
     margin:0 auto;
     position: relative;
   }
 .section-skills-icon {
     position: absolute;
     top:30%;
     left:102%;
 }


   .section-inner-projects{
    width:90%;
    margin:2rem;
    margin-top:5rem;
}

   .my-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width:99%;
    height:100%;
 
 
 
 }
 .sgl-project{
   margin:20px 0 5px 0;
   max-width:99%;height:auto;
 }
 
 .project-title{
   
  color:white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  
 }
 .project-text{
  
   color:white;
  font-size: 0.9rem;
 }


 .section-projects-icon{
     position: absolute;
     top:2%;
     left:46%;
 }



        .contact-icons>a{
            margin:3rem;
            font-size:3rem;
            color: rgb(165, 220, 252);
          }
          .contact-me{
            color:rgb(165, 220, 252);
        }
        .section-contact-icon{
position: absolute;
top:100%;
right:110%;
        }
        
        @media only screen and (max-width: 600px) {
            .section-projects-icon{
               
                left:49%;
            }
            .btn{
                display: none;
            }
            .type1{
               
                font-size: 1.2rem;
                font-weight: 500;
               
                letter-spacing: .2em;
               
            }
            .type2{
               
                font-size: .8rem;
               
                letter-spacing: .2em;
             
            }
            .section-title{
                font-size: 1.5rem;
            }
            .section-text{
                font-size: 0.9rem;
            }
          }
